.background{
    height: 70vh;
    width: 99%;
    border-radius: 1rem;
    margin-top: 2rem;
}
.Bg-background{
    background-color: #edcbcb !important;
    // border-radius: 1rem !important;
    border: 1px solid #edcbcb !important;
}